<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Anne-Sophie Billaud | Designer graphique</title>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
  <main>
    <h1>Anne-Sophie Billaud</h1>
    <h2>Designer graphique</h2>

    <p>Site en construction</p>

    <a href="./example.pdf">
      <img src="./download-icon.png" alt="Telecharger mon book">
      Télécharger mon book
    </a>
</body>

</html>
