* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  width: 100%;
  font-size: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 400;
  margin: 40px 0 5px;
}

h2 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 40px
}

p {
  font-size: .9rem;
  font-weight: 200;
  margin: 5px 0 40px;
}

a {
  display: flex;
    align-items: center;

  font-size: .9rem;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

img {
  width: 20px;
  margin-right: 5px;
}
